@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-P1: #1c1c1e;
  --primary-color-P4: #48484a;
  --primary-color-P8: #c7c7cc;
  --primary-color-P11: #f2f2f7;
  --primary-color-P12: #ffffff;
  --secondary-color-S8: #dfddd9;
  --secondary-color-S10: #f1f0ed;
  --quinary-color-VS5: #00ff47;
  --septenary-color-MA5: #ff0011;
  --quaternary-color-A5: #ffd600;
}

/* Styles of Checkbox NextUI */
/* This is for border of checkbox when it's not selected */
.before\:border-default::before {
  border-color: var(--primary-color-P1) !important;
}

/* This is for styles the border of radio buttons of nextui */
.connected.group[data-selected="true"]
  .group-data-\[selected\=true\]\:border-primary {
  border-color: var(--quinary-color-VS5) !important;
}

.busy.group[data-selected="true"]
  .group-data-\[selected\=true\]\:border-primary {
  border-color: var(--septenary-color-MA5) !important;
}

.absent.group[data-selected="true"]
  .group-data-\[selected\=true\]\:border-primary {
  border-color: var(--quaternary-color-A5) !important;
}

/* This is for rounded corners in calendar when it's today */
tr:first-of-type td.isSelected {
  border-top-right-radius: 8px !important;
  border-top-left-radius: 8px !important;
}

tr:last-of-type td.isSelected {
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

/* This is for otp input spacing */
.otp-inputs-container input:nth-child(3) {
  margin-right: 2rem;
}

/* ------- Styles from calendar of react-datepicker (birthdate) --------- */
/* Ensure the date picker popper appears above other elements */
.react-datepicker-popper {
  z-index: 100 !important;
}

/* Base styles for the date picker container */
.react-datepicker {
  font-family: "Poppins", "Poppins Fallback" !important;
  background: var(--primary-color-P11) !important;
  border-radius: 16px !important;
  font-size: 13px !important;
  border: 0 !important;
  padding: 6px;
}

/* Styles for dates that are outside the current month */
.react-datepicker__day--outside-month {
  color: var(--primary-color-P8) !important;
}

/* Prevent days from other months from inheriting the styles of the current day */
.react-datepicker__day--keyboard-selected:not(.react-datepicker__day--today) {
  background-color: transparent;
}

/* For all dates numbers in calendar */
.react-datepicker__day:not(.react-datepicker__day--outside-month) {
  color: var(--primary-color-P4);
  border-radius: 6px;
  font-weight: 600;
  font-size: 13px;

  &:focus {
    background: var(--secondary-color-S8);
  }

  &:hover {
    background: var(--secondary-color-S10);
  }
}

/* Styles for the selected date and today day in the date picker */
:is(.react-datepicker__day--selected, .react-datepicker__day--today) {
  color: var(--primary-color-P12) !important;
  background: var(--primary-color-P1) !important;

  &:focus {
    background: var(--primary-color-P1);
  }

  &:hover {
    background: var(--primary-color-P1);
    border-radius: 6px !important;
  }
}

/* Custom header styles for the date picker */
.react-datepicker__header--custom {
  border-bottom: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

/* Styles for the row containing day names (e.g., Mon, Tue, Wed) */
.react-datepicker__day-names {
  margin-bottom: 3px !important;
  position: relative;
  z-index: 2;

  .react-datepicker__day-name:nth-last-child(-n + 2) {
    color: var(--septenary-color-MA5) !important;
  }
}

/* Agrega un pseudo-elemento before .react-datepicker__day-names */
.react-datepicker__day-names:before {
  content: "";
  background-color: var(--primary-color-P12);
  border-radius: 12px 12px 0 0;
  position: absolute;
  display: block;
  height: 35px;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

/* Agrega un pseudo-elemento after .react-datepicker__day-names */
.react-datepicker__day-names:after {
  content: "";
  background-color: var(--primary-color-P11);
  transform: translate(50%, -35%);
  border-radius: 12px;
  position: absolute;
  display: block;
  height: 26px;
  width: 97%;
  z-index: 1;
  right: 50%;
  top: 50%;
}

/* Styles for individual day names (e.g., Mon, Tue, Wed) */
.react-datepicker__day-name {
  color: var(--primary-color-P1) !important;
  margin-inline: 0.1rem !important;
  line-height: 1.7 !important;
  margin-block: 0 !important;
  position: relative;
  padding-top: 10px;
  font-weight: 600;
  font-size: 13px;
  z-index: 2;

  &:first-of-type {
    margin-left: 8px !important;
  }

  &:last-of-type {
    margin-right: 8px !important;
  }
}

/* Styles for the month container */
.react-datepicker__month {
  background-color: var(--primary-color-P12);
  padding: 4px 0 4px 0 !important;
  border-radius: 0 0 12px 12px;
  margin: 0 !important;
}

/* Styles for all of the dates of month */
.react-datepicker__day {
  margin: 0.1rem !important;
}

/* sm(640px) */
@media (max-width: 40em) {
  .otp-inputs-container input:nth-child(3) {
    margin-right: 0;
  }
}

@layer components {
  ::selection {
    @apply bg-tertiary-color-SC5 text-primary-color-P12;
  }

  .btn {
    @apply inline-block border-0 bg-transparent cursor-pointer animation-fade text-center;
  }

  .btn-primary {
    @apply bg-primary-color-P1 text-primary-color-P12;

    &:hover {
      @apply bg-primary-color-P4 text-primary-color-P12;
    }

    &:active {
      @apply bg-primary-color-P6 text-primary-color-P12;
    }
  }

  .btn-secondary {
    @apply bg-tertiary-color-SC5 text-primary-color-P12;

    &:hover {
      @apply bg-tertiary-color-SC6 text-primary-color-P12;
    }

    &:active {
      @apply bg-tertiary-color-SC7 text-primary-color-P12;
    }
  }

  .btn-tertiary {
    @apply bg-primary-color-P12 text-primary-color-P1;

    &:hover {
      @apply bg-secondary-color-S10 text-primary-color-P1;
    }

    &:active {
      @apply bg-secondary-color-S8 text-primary-color-P1;
    }
  }

  .btn-quaternary {
    @apply bg-transparent text-current;

    &:hover {
      @apply bg-primary-color-P12 text-current;
    }

    &:active {
      @apply bg-tertiary-color-SC5 text-primary-color-P12;
    }
  }

  .btn-quinary {
    @apply bg-primary-color-P1 text-primary-color-P12;

    &:hover {
      @apply bg-secondary-color-S10 text-primary-color-P1;
    }

    &:active {
      @apply bg-secondary-color-S8 text-primary-color-P1;
    }
  }

  .btn-senary {
    @apply bg-primary-color-P12 text-primary-color-P1;

    &:hover {
      @apply bg-primary-color-P4 text-primary-color-P12;
    }

    &:active {
      @apply bg-primary-color-P6 text-primary-color-P12;
    }
  }

  .btn-septenary {
    @apply bg-primary-color-P11;

    &:hover {
      @apply bg-secondary-color-S10;
    }
  }

  .btn-octonary {
    @apply bg-transparent text-primary-color-P12;

    &:hover {
      @apply text-primary-color-P1 bg-primary-color-P11;
    }

    &:active {
      @apply bg-primary-color-P10;
    }
  }

  .btn-nonary {
    @apply bg-transparent text-primary-color-P10;

    &:hover {
      @apply text-primary-color-P12 bg-primary-color-P2;
    }

    &:active {
      @apply text-primary-color-P12 bg-primary-color-P3;
    }
  }

  .input-wrapper-ipractis {
    @apply bg-primary-color-P11 rounded-2xl h-auto border-0 p-1.5 data-[hover=true]:bg-secondary-color-S9 has-[input:invalid]:bg-senary-color-W10 data-[focus=true]:bg-secondary-color-S9 shadow-none !important;
  }

  .input-ipractis {
    @apply placeholder:text-primary-color-P4 text-primary-color-P4 ST-3 ps-4 pe-10 !important;
  }

  .input-label-ipractis {
    @apply text-primary-color-P4 MT-SB-1 -top-7 translate-y-0 mt-0 !important;
  }

  .textarea-wrapper {
    @apply bg-primary-color-P11 rounded-2xl data-[hover=true]:bg-secondary-color-S9 data-[focus=true]:bg-secondary-color-S9 p-0 shadow-none !important;
  }

  .textarea-ipractis {
    @apply placeholder:text-primary-color-P4 p-2.5 pe-1.5 text-primary-color-P4 ST-3 [&::-webkit-scrollbar]:[width:4px] [&::-webkit-scrollbar-thumb]:bg-primary-color-P4 [&::-webkit-scrollbar-thumb]:rounded-[5px] !important;
  }

  .select-wrapper-ipractis {
    @apply bg-primary-color-P11 rounded-2xl animation-fade h-auto p-1.5 data-[hover=true]:bg-secondary-color-S9 shadow-none !important;
  }

  .select-ipractis {
    @apply placeholder:text-primary-color-P4 text-primary-color-P4 gap-4 ST-3 !important;
  }

  .country-ipractis-dropdown {
    @apply bg-primary-color-P12 flex p-1.5 justify-between gap-1 min-w-fit cursor-pointer w-[60px] h-[36px] !important;
  }

  .country-ipractis-dropdown-areacode {
    @apply bg-primary-color-P12 flex p-1.5 justify-between gap-1 min-w-fit cursor-pointer w-[98px] h-[36px] !important;
  }
}

/* Utility classes for specific styles, sizes, and animations */
@layer utilities {
  .container-page-v1 {
    @apply max-w-[1000px] mx-auto md:px-4 px-10;
  }

  .container-page-v2 {
    @apply max-w-[900px] mx-auto md:px-0 px-2;
  }

  .container-page-v3 {
    @apply max-w-[473px] mx-auto md:px-0 px-2;
  }

  .container-page-v4 {
    @apply max-w-[476px] mx-auto md:px-0 px-2;
  }

  .container-page-v5 {
    @apply max-w-[900px] mx-auto lg:px-0 px-10;
  }

  .container-page-v6 {
    @apply max-w-[1200px] mx-auto sm:mt-[50px] mt-10 sm:mb-[100px] mb-10 xl:px-0 px-10;
  }

  .container-page-v7 {
    @apply max-w-[1000px] mx-auto mb-16;
  }

  .container-page-v8 {
    @apply max-w-[494px] mx-auto;
  }

  .animation-fade {
    @apply transition-all duration-250 ease-out;
  }

  .disable-hover {
    @apply p-0 !important;
  }

  .form-input-error {
    @apply bg-senary-color-W10 data-[hover=true]:bg-senary-color-W10 data-[focus=true]:bg-senary-color-W10 !important;

    &:hover {
      @apply bg-senary-color-W8 data-[hover=true]:bg-senary-color-W8 !important;
    }
  }

  /* All sizes have !important because we don't want other libraries to inherit our created ones */
  .LT-SB-1 {
    @apply text-[28px] font-[600] !important;
  }

  .LT-SB-2 {
    @apply text-[32px] font-[600] !important;
  }

  .MT-SB-3 {
    @apply text-[24px] font-[600] !important;
  }

  .MT-SB-2 {
    @apply text-[20px] font-[600] !important;
  }

  .MT-SB-1 {
    @apply text-[16px] font-[600] !important;
  }

  .MT-1 {
    @apply text-[16px] font-[500] !important;
  }

  .ST-SB-4 {
    @apply text-[14.4px] font-[600] !important;
  }

  .ST-SB-3 {
    @apply text-[13px] font-[600] !important;
  }

  .ST-SB-2 {
    @apply text-[11.2px] font-[600] !important;
  }

  .ST-SB-1 {
    @apply text-[9.6px] font-[600] !important;
  }

  .ST-4 {
    @apply text-[14.4px] font-[500] !important;
  }

  .ST-3 {
    @apply text-[13px] font-[500] !important;
  }

  .ST-2 {
    @apply text-[11.2px] font-[500] !important;
  }

  .ST-1 {
    @apply text-[9.6px] font-[500] !important;
  }
}
